// Import global css files
@import './ITCSS/1_settings/*';
// @import './ITCSS/2_tools/*';
// @import './ITCSS/3_generic/*';
// @import './ITCSS/4_elements/*';
@import './ITCSS/5_objects/*';
// @import './ITCSS/6_components/*';
// @import './ITCSS/7_utilities/*';