// Debateable whether it belongs in this folder but w.e for now...
.center
  display: flex
  flex-direction: column
  &.h
    justify-content: center
    &.t
      text-align: center
  &.v
    align-items: center
  &.row
    flex-direction: row
  &.vh
    justify-content: center
    align-items: center